@keyframes pulse-border {
  0% {
    border-color: rgba(128, 0, 128, 0.6);
    box-shadow: 0 0 15px rgba(128, 0, 128, 0.6);
  }
  50% {
    border-color: rgba(128, 0, 128, 1);
    box-shadow: 0 0 100px rgba(128, 0, 128, 1);
  }
  100% {
    border-color: rgba(128, 0, 128, 0.6);
    box-shadow: 0 0 15px rgba(128, 0, 128, 0.6);
  }
}

.border-bottom-pulse {
  animation: pulse-border 2s infinite ease-in-out;
}
